.flex_container3{
    display: flex;
    justify-content: center;
}
.container3{
    width: 1773px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/3rdbigpic.png)
    
}
.box_center3{
    width: 1086px;
    height: 374px;
    display: flex;
    align-items: center;
  
    justify-content: flex-start;

}

.content_page3{
    width: 543px;
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 25px;

}
.paragraf_spain{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    text-align: left;
}
.text_madrid{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text_page3{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
   text-align: left;
    color: #E8E8E8;
}
.btn_page3{
    background: #496BFE;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 63px;

 }
 .btn_page3:hover{
    transition: ease-in-out 2s;
    background-color: rgb(172, 169, 169);
    cursor: pointer;
 }
    .container4{
    width: 1774px;
    height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(/img/4thibigpic.png);

}
.box_center4{
    
    height: 374px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 1086px;
   
}
