.container{
    background-color: red;
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}
.box_center{
   
    width: 100%;
    margin: 16px;


}
.background_image{
    
    width: 100%;
    height: 820px;
}
.flex_landingpage{
    width: 100%;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

    
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
  
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}
.flex_form{
     display: flex;
     justify-content: center;
     margin-top: 48px;
 }
 .placeholer{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
 }
 input{
    width: 277px;
    border: none;

 }
    .form{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    display: flex;
    justify-content: center;
    width: 503px;
    height: 63px;
    background-color: white;
    align-items: center;
}
.btn{
    width: 153px;
    height: 63px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474FD;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
.flex_scrolldown{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 286px;
    align-items: center;

}
.scrolldown{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    height: 26px;
    width: 123px;
    
}
.navbar{
    width: 100%;
    height: 83px;
    background: #5474FD;
}