.container{
    background-color: red;
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}
.box_center{
    background-color: grey;
    width: 100%;
    height: 1000px;
    margin: 16px;


}