
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box_center{
    width:1773px;
     background-image: url(/img/landingpage.png);
    
}


.flex_landingpage{
    width: 100%;
    height: 737px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
  
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}
.flex_form{
     display: flex;
     justify-content: center;
     margin-top: 48px;
 }
 .placeholer{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
 }
 input{
    width: 277px;
    border: none;

 }
    .form{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
    display: flex;
    width: 503px;
    height: 63px;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    width: 153px;
    height: 63px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474FD;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    
}
.btn:hover{
    transition: ease-in-out 2s;
    background-color: rgb(172, 169, 169);
    cursor: pointer;
}

    

.flex_scrolldown{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 286px;
    align-items: center;

}
.scrolldown{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    height: 26px;
    width: 123px;
    
}

.navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 83px;
        background: #5474FD;
        align-items: baseline;
        

}

.navbar_list{
    display: flex;
    width: 50%;
    height: 83px;
    
}

a{
    text-decoration: none;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

li{
    list-style-type: none;
    margin: 12px;
}

h2{
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 50%;
    justify-content: center;
    display: flex;   
}
.background_image2{
   background-image: url(/img/2ndbigpic.png);
   width: 100%;
   height: 685px;
}
