.container5{
    width: 100%;

   background-image: url(/img/5thbigpic.png);
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box_center5{
 
    width: 100%;
    height: 731px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}





.samsumon_h1{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}

.wrapper_samsumon{
    display: flex;
    margin-top: 93px;
    
   
}

.moutain_guy{
    display: flex;
    align-items: center;
    height: 731px;
}

.samsumon_content{
    text-align: left;
    margin-left: 59px;
}

.samsumon_h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
    justify-content: flex-start;
}


.p_samsumon{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    text-align: left;
    display: flex;
    justify-content: center;
}

.container6{

width: 100%;
height: 271px;
display: flex;
justify-content: center;
align-items: center;

}

.footer_samsumon{
    width: 1773px;
    height: 271px;
   background-color: #232323;
   

}
.wrap_icons{
    display: flex;
    justify-content: center;
    color: white;
    height: 271px;
    
  
}

