.container5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box_center5{
    width: 1773px;
    height: 731px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/5thbigpic.png);
}





.samsumon_h1{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
}

.wrapper_samsumon{
    display: flex;
    margin-top: 93px;
    
   
}

.moutain_guy{
    display: flex;
    align-items: center;
    height: 731px;
}

.samsumon_content{
    text-align: left;
    margin-left: 59px;
    width: 668px;
    height: 287px;
}

.samsumon_h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FEFEFE;
    justify-content: flex-start;
}

.p_samsumon{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    text-align: left;
    display: flex;
    justify-content: center;
    
}
.span_samsumon{
    color: #5474FD;
    font-size: 36px;
}




.container6{

width: 100%;
height: 271px;
display: flex;
justify-content: center;


}

.footer_samsumon{
    width: 1773px;
    height: 271px;
    background-color: #232323;
    display: flex;
    height: 271px;
    justify-content: center;
    flex-direction: column;
    justify-content: end;
   

}
.wrap_icons{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 46px;
    
    
    
  
}
span{
    color: #5474FD;
}

.margin{
    margin: 15px;
}
