.container2{
    width: 100%;
    display: flex;
    height: 1300px;
    justify-content: center;
    

}
.box_center2{
    width: 100%;
    height: 1000px;
   
    margin: 15px;
    display: flex;
    justify-content: center;
}

.flex_main{
    display: flex;
    width: 1112px;
    height: 685px;
    
    justify-content: space-between;
    align-items: center;
    
}

.main_content_text{
width: 560px;
height: 234px;

}

h3{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    align-items: center;
    color: #FFFFFF;
}
.p_secondpage{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.btn_page2{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 63px;
    left: 0px;
    top: 0px;
    background: #5474FD;

}
.main_content_pictures{
 width: 440px;
 height: 450px;   

 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.forestpic{
    align-self: flex-end;
    margin-top: 10px;
}

.footer_page2{
    width: 100%;
    height: 340px;
 background: #333333;
    display: flex;
    justify-content: center;

}
.searchplaces, .selectplaces, .bookandenjoy{
text-align: center;
}



.icontext{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
    text-align: center;
    width: 100%;
    
  
}
.flex_icons{
    width: 33%;
}

.wrapper_footer_page2{
    display: flex;
   
    
    align-items: center;
    justify-content: center;
    width: 100%;

}





