.container2{
    width: 100%;
    display: flex;
    height: 1300px;
    justify-content: center;
    background-color: white;
    
}
.box_center2{
    width: 1773px;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-image: url(/img/2ndbigpic.png);
}

.flex_main{
    display: flex;
    width: 1112px;
    height: 685px;
    justify-content: space-between;
    align-items: center; 
}

.main_content_text{
    width: 560px;
    height: 234px;
}

h3{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    align-items: center;
    color: #FFFFFF;
}
.p_secondpage{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.btn_page2{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 63px;
    left: 0px;
    top: 0px;
    background: #5474FD;

}
.btn_page2:hover{
    transition: ease-in-out 2s;
    background-color: rgb(172, 169, 169);
    cursor: pointer;
}
.main_content_pictures{
    width: 440px;
    height: 450px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.forestpic{
    align-self: flex-end;
    margin-top: 10px;
}

.wrap_all{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
}

.wrap_bow{
    background-color: #333333;
    width: 1773px;
    height: 340px;
}
.bow{
    height: 99px;
    display: flex;
    justify-content: center;
}

.wrap_all2{
    width: 1773px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;

}

.wrap_all3{
    width: 1773px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.flex_text{
    width: 325px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #E8E8E8;
}







